
body{
    font-family: 微软雅黑;

}

header{
    position: relative;
    z-index: 1000;
}

/*导航栏*/
.navigation {
    left: 0;
    position: fixed;
    right: 0;
    top: 0;

    display: block;
    width: 100%;
    height: 80px;
    background-color: white;
    font-size: 15px;
    color: #000;

}
.navigation-container{
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.navigation .icon_container{
    float: left;
    margin-top:30px;
}


.navigation #product_name{
    float: left;
    cursor: pointer;

    border-left: 3px solid gainsboro;
    margin-left: 30px;
    padding-left: 20px;
    margin-top:30px;
    font-weight: bold;
}


/*主菜单*/
.navigation .menu{
    cursor: pointer;
    float: left;
    margin-left: 60px;
    list-style: none;
    font-weight: bold;
}

.navigation .menu .menu_item{
    float: left;
    position: relative;
    transition:background-color .3s cubic-bezier(0,0,0,1);
}
.navigation .menu_item .menu_item_link{
    display: block;
    padding: 30px 15px 30px 15px;
    color: #000;
    text-decoration: none;
}

.navigation .menu_item a{
    color: #000;
    text-decoration: none;
}

.navigation .menu_item:hover{
    background-color: #f5d341;
}

/*主菜单的下拉菜单*/
.navigation .menu .menu_item .menu_drop{
    display: none;
    list-style: none;
    position: absolute;
    left: 0;
    width: 200px;
}

.navigation .menu .menu_item:hover .menu_drop {
    display: block;
}

.navigation .menu .menu_item .menu_drop li{
    background-color: #f5d341;
    padding: 20px 0 20px 15px;
}

.navigation .menu .menu_item .menu_drop li:hover{
    background-color: #f6d958;
}


.navigation .header_LR{
    height: 80px;
    cursor: pointer;
    font-weight: bold;
    float: right;
    margin-right: 0px;

}

/* 登录注册*/
.navigation .header_LR a{
    float:right;
    padding:30px 15px 30px 15px;
    transition:background-color .25s cubic-bezier(0,0,0,1);
    color: #000;
    text-decoration: none;
}

.mobile-menu{
    display: none;
    height: 80px;
}

.navigation .header_LR a:hover{
    background-color: #f5d341;
}



@media (max-width: 992px) {
    #product_name{
        display: none;
    }
    .icon_container{
        display: block;
        float: inherit;
        margin-left: 30px;
    }
    .navigation{

        width: 100%;
    }

    .navigation-container{
        width: 100%;
        max-width: inherit;
        position: relative;
        margin-left: inherit;
    }

    .navigation .menu{

        display: none;
        position: absolute;
        top: 80px;
        left: 0;
        margin: 0;

        width: 100%;
        cursor: pointer;
        list-style: none;
        background-color: #f5d341;
    }

    .navigation .menu_item{
        float: inherit;
        width: 100%;
        background-color: #f5d341;
        position: relative;
        transition:background-color .3s cubic-bezier(0,0,0,1);
        border-bottom: 1px solid rgba(0,0,0,.1);
    }

    .navigation .menu .menu_item .menu_drop{
        /*重要！这是区别padding 和 margin 的一个重要例子，如果是设置成 padding 则点击这个padding　点击事件是属于menu_drop 的，*/
        /*而 margin 的话就属于 menu_item 的*/
        margin-top: 25px;
        position: relative;
        float: inherit;
        list-style: none;
        width: 100%;
        background-color: #f5d341;
    }
    .navigation .menu .menu_item .menu_drop a {
        display: block;
        height: 100%;
        width: 100%;

    }

    .navigation .menu .menu_item:hover .menu_drop {
        display: none;
    }

    .navigation .menu .menu_item .menu_drop li:nth-child(1) {
        margin-top: 0px;!important;
    }

    .navigation .menu .menu_item .menu_drop li{
        padding: 15px 35px 35px 15px;!important;
        font-size: 15px;
        width: 100%;
        list-style: none;
        background-color: #f5d341;
        font-weight: 400;
    }

    .mobile-menu {
        margin-right: 10px;
        display: block;
        float:right;
        text-align: center;
        background-color: white;
    }
    .mobile-menu #dropdownMenu1{
        margin-top: 20px;
        font-size: 26px;
    }

    .navigation .menu .menu_item .menu_drop li:hover{
        background-color: inherit;
    }

    .header_LR{
        display: none;
    }

}


/******************************************第一个章节****************************************************************/
.apartment_des{
    height: 200px;
    background-color: #f2c811;
    margin: 80px 0 0 0;
    padding: 50px 180px 0 180px;
    color: #000;
}

.apartment_des h1{
    display: inline-block;

    float: left;
    font-size: 36px;
    line-height: 1.22;
    font-weight: bold;
    text-align: center;
}

.apartment_des p{
    padding: 10px 0 0 0;
    text-align: left;
    font-size: 16px;
}


/******************************************第一个章节结尾****************************************************************/


.apartment_classification {
    overflow: hidden;
    background-color: #000;
    padding: 5px 0 5px 180px;
}
.apartment_classification ul{
    list-style: none;

}
.apartment_classification .linkList li{
    margin-left: 20px;
    float: left;
}

.apartment_classification .linkList li a{
    text-decoration: none;
    color:#fff;
    font-size: 16px;
}
.apartment_classification .linkList li a:active{

    color:#000;
    color: #f6d958;
}

/******************************************第二个章节结尾****************************************************************/
.apartment_main{
    width: 100%;
    overflow: hidden;
}
.owl-carousel-vertical-container{
    height: 600px;
    width: 15680px;
    overflow: hidden;
    transform: translate3d(-3920px, 0px, 0px);
    transition: 0s;
}


.owl-carousel-vertical{
    float: left;
    height: 600px;
    width: 1960px;
    text-align: center;
    overflow: hidden;
}

.owl-stage {
    display: block;
}

.owl-stage-container{
    margin: 85px 160px  0 160px;
    text-align: center;
    display: block;
}


.stage_left_img_container img{
    height: 350px;
    width: 500px;
    border: 30px solid #000;
    border-radius: 3px;
    box-shadow: 4px 4px 8px 0 rgba(0,0,0,.2)
}

.stage_btn{
    display: inline-block;
    margin-top: 50px;
    background-color: #f2c811;
    padding: 10px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    width: 100px;
}


.stage_right{
    text-align: left;
}

.stage_right p{
    font-size: 16px;
}

.stage_right h3{
    font-weight: bold;
}

.stage_right_ul{
    padding-left: 45px;

}
.stage_right_ul li{
    font-size: 16px;
    list-style: circle;
    padding-top: 5px;
}


/*控制条*/
.section_controls{
    height: 110px;
    background-color: black;
}
#owl-stage-controls{
    display: block;
    text-align: center;
    margin: 0 220px 0 220px;
}


.text-heading4 {
    display: inline-block;
    cursor: pointer;
    margin: 0 2.9%;
    padding-bottom: 5px;
    position: relative;
    text-align: center;
    width: 18%;
    /*padding: 0 100px 0 100px;*/
    text-decoration: none;
}
.text-heading4.active:before{
    border-color: transparent transparent #000 transparent;
}

/*向上的箭头*/
.text-heading4:before{
    background: none;
    border-style: solid;
    border-width: 0 25px 25px;
    border-color: transparent transparent transparent transparent;
    bottom: 100%;
    content: "";
    height: 0;
    left: 40%;
    position: absolute;
    width: 0;
    z-index: 9999;
}
.icon_contaniner{
    display: inline-block;
    margin: 15px;
}
.icon_contaniner img{

    width: 30px;
    height: 30px;
}

.text-heading4 p{
    padding: 15px 0 10px 0;
    font-size: 16px;
    color: white;
}


.foot{
    background-color: #f2f2f2;
    height: 600px;
    padding-top: 60px;
    padding-left: 15%;

}

.foot_1 ul{
    list-style: none;
    color: #000;

    padding-left: 17px;
    margin-bottom: 14px;

    margin-left: 0;
}
.foot_1 ul li{
    cursor: pointer;
    margin-bottom: 10px;

}

.foot_des{
    font-size: 13px;
    color: gray;
}
.foot_separator{
    width: 24px;
    height: 1px;
    border-bottom: 1px solid #dfdfdf;
    margin: 24px 0 24px 17px;

}


.foot_2{
    border-top: 1px solid #dedede;
    padding-top: 6%;
}

.foot_2_icon{
    float: left;
}

.foot_2_icon ul li{

}




/*****************************************节结尾****************************************************************