
body{
    font-family: 微软雅黑;

}

header{

    z-index: 9999;
}


.navigation.navigation-fixed {
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 88888;
}


/*导航栏*/
.navigation {
    display: block;
    width: 100%;
    overflow: hidden;
    height: 80px;
    background-color: white;
    font-size: 15px;
    z-index: 88888;
    color: #000;

}
.navigation-container{
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.navigation .icon_container{
    float: left;
    margin-top:30px;
}


.navigation #product_name{
    float: left;
    cursor: pointer;

    border-left: 3px solid gainsboro;
    margin-left: 30px;
    padding-left: 20px;
    margin-top:30px;
    font-weight: bold;
}

/*主菜单*/
.navigation .menu{
    cursor: pointer;
    float: left;
    margin-left: 60px;
    list-style: none;
    font-weight: bold;
}

.navigation .menu_item{
    padding: 30px 15px 30px 15px;
    float: left;
    position: relative;
    transition:background-color .3s cubic-bezier(0,0,0,1);
}
.navigation .menu_item a{
    color: #000;
    text-decoration: none;
}

.navigation .menu_item:hover{
    background-color: #f5d341;
}
.navigation .menu_item .menu_drop {
    display: none;
}
.navigation .menu_item:hover .menu_drop {
    display: block;
}

.navigation .header_LR{
    height: 80px;
    cursor: pointer;
    font-weight: bold;
    float: right;
    margin-right: 0px;
    padding-left: 20%;
}

/* 登录注册*/
.navigation .header_LR a{
    float:right;
    padding:30px 15px 30px 15px;
    transition:background-color .25s cubic-bezier(0,0,0,1);
    color: #000;
    text-decoration: none;
}


.mobile-menu{
    display: none;
    height: 80px;
}


.navigation .header_LR a:hover{
    background-color: #f5d341;
}

/*主菜单的下拉菜单*/

.navigation .menu_drop{
    display: block;
    list-style: none;
    position: absolute;
    left: 0;
    width: 200px;
}


.navigation .menu_item .menu_drop li:nth-child(1){
    margin: 30px 0 0 0;
}

.navigation .menu_item .menu_drop li{
    background-color: #f5d341;
    padding: 10px 0 10px 10px;
}

.navigation .menu_item .menu_drop li:hover{
    background-color: #f6d958;
}

@media (max-width: 992px) {
    #product_name{
        display: none;
    }
    .icon_container{
        display: block;
        float: inherit;
        margin-left: 30px;
    }
    .navigation{
        overflow: inherit;
        position: relative;
        width: 100%;
    }

    .navigation-container{
        width: 100%;
        max-width: inherit;
        position: relative;
        margin-left: inherit;
    }

    .navigation .menu{
        /*先隐藏，美观。*/
        display: none;
        position: absolute;
        top: 80px;
        left: 0;
        margin: 0;

        width: 100%;
        cursor: pointer;
        list-style: none;
        background-color: #f5d341;
    }

    .navigation .menu_item{
        float: inherit;
        padding:15px;
        width: 100%;
        background-color: #f5d341;
        position: relative;
        transition:background-color .3s cubic-bezier(0,0,0,1);
        border-bottom: 1px solid rgba(0,0,0,.1);
    }

    .navigation .menu_item a{
        margin-left: 20px;

    }

    .navigation .menu_item .menu_drop{
        position: relative;
        /*padding-left: 40px;*/
        float: inherit;
        list-style: none;
        width: 100%;
        background-color: #f5d341;
        display: none;
    }
    .navigation .menu_item .menu_drop li:nth-child(1) {
        margin-top: 15px;!important;
    }

    .navigation .menu_item .menu_drop li{
        padding: 15px 35px 35px 15px;!important;
        font-size: 15px;
        width: 100%;
        list-style: none;
        background-color: #f5d341;
        font-weight: 400;
    }

    .mobile-menu {
        display: block;
        float:right;
        text-align: center;
        background-color: white;
    }
    .mobile-menu #dropdownMenu1{
        margin-top: 20px;
        font-size: 30px;
    }


    /*.navigation .menu_item:hover .menu_drop {*/
        /*display: block;*/
    /*}*/

    .navigation .menu_item .menu_drop li:hover{
        background-color: inherit;
    }

    .header_LR{
        display: none;
    }

}



/******************************************导航栏结尾****************************************************************/

/******第一个章节******/
.section_1{
    background-image: url(https://powerbicdn.azureedge.net/cvt-9ea9c477d68915c36ed2634e534947539995dd8e33cf5176b3ae3c65c43e786a/pictures/pages/pbi-pattern.png),
    linear-gradient(to top, rgb(255, 210, 13), rgb(242, 200, 17));
    background-size: cover;
    margin-top: 80px;
    padding: 30px 0 0 0;
    position: relative;
    /*height: 780px;*/

    /*什么情况，不加这个只要有 div 就出现浮动*/
    overflow: hidden;
}


.section_1_row{
    display: block;
    color: #000;
    text-align:center;
    font-size: 48px;
    line-height: 1.16;
    padding-left: 10px;
    padding-right: 10px;
}
.text_super{
    font-weight: bold;
}

.text_nomal{
    text-align:center;
    font-size: 22px;
    padding-top: 30px;
    line-height: 1.5;
}


.text_small{
    display: inline-block;
    font-size: 18px;
    font-weight: bold;
    margin-top: 30px;
    padding: 10px;
    border: 2px #000 solid;
}

.row_4 img{
    max-width: 100%;
    transition: bottom .25s cubic-bezier(0,0,0,1);
}


@media (max-width:1200px) {
    .row_4 img{
        width: 100%;
    }

}
.text_small:hover{
    background-color:black;
    color: white;
}

/******************************************第一个章节结尾****************************************************************/



.section_2{
    background-color: #f5d341;
    margin-top: -25px;
    padding: 60px 0 80px 0;
    text-align: center;
}

#power_des_1{
    display: block;
    font-size: 30px;
    text-align: center;
    font-weight: bold;
}

#power_des_2{
    display: block;
    font-size: 26px;
    text-align: center;
    padding: 30px 8% 0 8% ;
}
#power_des_3{
    display: inline-block;
    text-align: center;
    cursor: pointer;
    margin-top: 20px;
    font-size: 16px;
    font-weight: bold;
    color: #000;

}

@media (max-width:1200px) {
    #power_des_3{
        padding: 0 20px 0 20px;
    }

}
#power_des_3 a{
    padding-left:10px;
    color: #000;
    text-decoration: none;
}

#power_des_3 a:hover{
    opacity: 0.4;
}

.mask {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.3;
    display: none;
}

.power_des_3_video_div{
    z-index: 999;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: none;
    background-color: white;
}
.power_des_3_video_div .close{
    display: inline-block;
    float: right;
    color: #000;
    padding: 1px;
    padding-left: 5px;
}


/******************************************第二个章节结尾****************************************************************/

.section_3{
    margin-top: -25px;
    background-color: #000;
    color: #fff;
    padding: 80px 0 40px 0;
    overflow: hidden;
}
#power_meaning_title{
    display: block;
    padding: 0 0 20px 0;
    font-size: 30px;
    color: #fff;
    text-align: center;
}
.section_3_container{
    padding: 0 10% 0 10%;
}

@media (max-width: 992px) {
    .section_3_container{
        padding: 0 10px 0 10px;
    }
}

/*
 神奇！如果对一个东西设置两次 border 是会叠加的。
如果想内容没变化那就得对外容器设置 border 利用颜色值隐藏起来,再对内容器设置 border， perfect
*/
.power_meaning_bor{
    cursor: pointer;
    padding: 20px;
}


/*这下面就有瑕疵了，重构肯定要弄这里*/
.power_meaning{
    background-color: #333;
    padding: 20px;
    height: 240px;
    position: relative;
    border-left: 4px solid #333;
}


.power_meaning img{
    padding-bottom: 10px;
}

.power_meaning:hover{
    border-left: 4px solid #f5f72b  ;
}


.meaning_people{
    color: #ecc11a;
    font-size: 16px;
}
.meaning_des{
    font-size: 16px;
}
.meaning_action{
    font-size: 14px;
    display: block;
    position: absolute;
    bottom: 20px;

}
/* 箭头 */
 .right_arrow:before{


}
.right_arrow:before{
    transform:translate(0%, -50%) rotate(-45deg)
}

.right_arrow:after {
    transform:translate(0%, 0%) rotate(45deg);
}

.meaning_action:hover:before,
.meaning_action:hover:after {
    right: -30%;

}

/******************************************第三个章节结尾****************************************************************/


.section_4{
    background-color: #fff;
    margin-top: -25px;
    text-align: center;
    padding-bottom: 50px;
    overflow: hidden;
    /*overflow: auto;*/
}

.section_4 h1{
    font-size: 30px;
    color: #000;
    padding-top: 30px;
}

.section_4 h5{
    font-size: 16px;
    margin: 15px 8% 0 8%;
}
@media (max-width: 768px) {
    .section_4 h5{
        margin: 10px;
    }
}

.data_connections{
    display: block;
    margin: 30px 5% 30px 5%;
    overflow: hidden;
}


.data_connections_item{
    display: inline-block;
    cursor: pointer;
    height: 120px;
    padding: 10px 20px 10px 20px;
    text-align: center;
    font-size: 16px;
}
.data_connections_item:hover .data_item_img{
    opacity: 0.6;
}
.data_item_img{
    display: inline-block;
    width: 90px;
    height: 90px;
}
.data_item_name{
    display: block;
}
.section_4 a{
    margin-top: 50px;
    display: block;
    font-size: 16px;
    color: #000;
    text-decoration: none;

}

.section_4 a:hover{
    text-decoration: underline;
}

#data_connections_operation_all{
    display: none;
}

#data_connections_operation{
    display: inline-block;
    margin-top: 20px;
    font-size: 18px;
    padding: 10px;
    font-weight: bold;
    border: 2px solid #000;
    transition: background-color .1s ease-in-out;
}

#data_connections_operation:hover{
    text-decoration: none;
    background-color: #000;
    color: #fff;
}

/******************************************第四个章节结尾****************************************************************/


.section_5{
    /*height: 780px;*/
    /*margin-top: -15px;*/
    background-color: #f2c811;
    padding-top: 40px;
    padding: 70px 0 70px 0 ;
    overflow: hidden;
    /*overflow: auto;*/
}


.section_5 h1{
    font-size: 30px;
    color: #000;
    text-align: center;
}
.user{
    position: relative;

}



.uesr_img{
    background-image: url("https://powerbicdn.azureedge.net/cvt-3270d7c39dd75bde4c601fa2479ec40e5f55c8c09da7b3075fb2fa6c5c85421f/pictures/shared/fancy-tile/woman-surface-coffee.jpg");
    height: 400px;
    width: 100%;
    position: relative;
    background-size: cover;
}
.uesr_img h5{
    position: absolute;
    color: #f2c811;
    font-size: 16px;
    bottom: 25%;
    left: 5%;
    opacity: 1;
    transition: opacity .5s;
    display: inline;
}
.uesr_img h3{
    color: white;
    font-size: 24px;
    position: absolute;
    bottom: 8%;
    left: 5%;
    right: 10%;
    opacity: 1;
    transition: opacity .5s;
    display: inline;
}

.user_icon{
    height: 60px;
    background-color: white;
    position: relative;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,.2)
}

.user_icon img{
    height: 50%;
    position: absolute;
    top: 50%;
    left: 8%;
    transform: translateY(-50%);
}


@media (min-width: 1600px) {
    .users_container{
        margin: 50px 10% 50px 10%;
    }
}

@media (min-width: 992px) {
    .users_container{
        margin: 50px 5% 50px 5%;
    }
}


.user_cover:before{
    content: '“';
    display: block;
    font-size: 60px;
    padding-top: 5%;
}

.user_cover{
    position: absolute;
    height: 400px;
    top: 0;
    left: 15px;
    background-color: #fff;
    transition: opacity .5s ;
    opacity: 0;
    margin-right: 15px;
}


.user_cover h3{
    margin-top: -30px;
    padding: 0 10% 0 8%;
}

.user_cover h5{
    padding: 0px 0 20px 8%;
}

.user_cover .user_cover_vider_container{

    margin: 20px 0 20px 8%;
    cursor: pointer;
    width: 150px;
    height: auto;
    background-color: #f2c811;
    font-size: 16px;
    font-weight: bold;
    color: #000;
    text-align: center;
    padding: 10px;
}
.user_cover .user_cover_vider_container img {
    /*display: inline-block;*/
    /*padding: 5px 5px 0 10px;*/
}
.user_cover .user_cover_vider_container span {
    font-weight: bold;
    /*display: inline-block;*/
    /*margin: 10px 8px 0 10px;*/
}

.user:hover .user_cover{
    opacity: 0.9;
}
.user_cover:hover .uesr_img h5,.user_cover:hover .uesr_img h3{
    opacity: 0;
}

.user:hover .uesr_img h5,.user:hover .uesr_img h3{
    display: none;
}



/******************************************第五个章节结尾****************************************************************/

.section_6{
    background-color: #0f0f0f;
    margin-top: -20px;
    overflow: hidden;
    /*overflow: auto;*/
    padding: 50px 0 50px 0;

}
.section_6 h1{
    text-align: center;
    color: white;
}
.evaluation_container{
    background-color: #0f0f0f;
    margin-top: 50px;
    margin: 30px 10% 0px 10%;
}

@media (min-width: 992px) {
    .evaluation{
        margin: 30px 5% 30px 5%;
    }
}
.evaluation{
    float: left;
    background-color: white;
    min-height: 280px;
    padding: 50px 50px 30px 50px;
    overflow: hidden;
    /*margin-left:  10px;*/
    /*margin-right: 10px;*/
}


.evaluation h3{
    color: #000;
    font-size: 22px;
    line-height: 1.17;
    margin: 10px 0 0 0;
}


.evaluation_read{

    margin-top: 20px;
    font-weight: bold;
    background-color: #f2c811;
    display: inline-block;
    font-size: 16px;
    padding: 8px 15px 0 15px;
}
.evaluation_read p{
    /*text-align: center;*/
}

/******************************************第六个章节结尾****************************************************************/




.section_7{
    margin-top: -30px;
    height: 350px;
    background-color: white;
    text-align: center;
}

.section_7 h1{
    padding-top: 60px;
}
.section_7 p{
    padding-top: 20px;
    font-size: 16px;
}

.section_7_use{
    display: inline-block;

    text-align: center;

    margin-top: 30px;
    width: 130px;
    height: 40px;
    background-color: #f2c811;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}

.section_7_use p{
    text-align: center;
    margin-top: -10px;
}


/******************************************第七个章节结尾****************************************************************/
.foot{
    background-color: #f2f2f2;
    padding: 60px 0 40px 0;
    padding-left: 15%;
    overflow: hidden;

}

.foot_1 ul{
    list-style: none;
    color: #000;
    padding-left: 17px;
    margin-bottom: 14px;
    margin-left: 0;
}
.foot_1 ul li{
    cursor: pointer;
    margin-bottom: 10px;

}

.foot_des{
    font-size: 13px;
    color: gray;
}
.foot_separator{
    width: 24px;
    height: 1px;
    border-bottom: 1px solid #dfdfdf;
    margin: 24px 0 24px 17px;

}


.foot_2{
    border-top: 1px solid #dedede;
    padding-top: 6%;
}

.foot_2_icon{
    float: left;
}

.foot_2_icon ul li{

}











