
body{
    font-family: 微软雅黑;

}


/*导航栏*/
header{

    /*width: 100%;*/
    height: 80px;
    background-color: white;
    position: relative;
    font-size: 15px;
    color: #000;
    z-index: 99;
}
header .icon_container{
    left: 100px;
    position: absolute;
    margin-left: 100px;
    margin-top:30px;
}


header #product_name{
    cursor: pointer;
    position: absolute;
    left: 350px;
    border-left: 3px solid gainsboro;
    padding-left: 30px;
    margin-top:30px;
    font-weight: bold;
}

/*主菜单*/
header .menu{
    cursor: pointer;
    position: absolute;
    left: 450px;
    margin-left: 50px;
    list-style: none;
    font-weight: bold;
}

header .menu_item{
    padding: 30px 15px 30px 15px;
    float: left;
    position: relative;
    transition:background-color .3s cubic-bezier(0,0,0,1);
}
header .menu_item a{
    color: #000;
    text-decoration: none;
}

header .menu_item:hover{
    background-color: #f5d341;
}
header .menu_item .menu_drop {
    display: none;
}
header .menu_item:hover .menu_drop {
    display: block;
}
header .header_LR{
    height: 80px;
    cursor: pointer;
    font-weight: bold;
    position: absolute;
    right: 300px;
}

/* 登录注册*/
header .header_LR a{
    float:left;
    padding:30px 15px 30px 15px;
    transition:background-color .25s cubic-bezier(0,0,0,1);
    color: #000;
    text-decoration: none;
}

header .header_LR a:hover{
    background-color: #f5d341;
}

/*主菜单的下拉菜单*/

header .menu_drop{
    display: block;
    list-style: none;
    position: absolute;
    left: 0;
    width: 200px;
}


header .menu_drop li:nth-child(1){
    margin: 30px 0 0 0;
}

header .menu_drop li{
    background-color: #f5d341;
    padding: 10px 0 10px 10px;
}

header .menu_drop li:hover{
    background-color: #f6d958;
}


/******************************************导航栏结尾****************************************************************/

/******第一个章节******/
.section_1{
    background-image: url(https://powerbicdn.azureedge.net/cvt-9ea9c477d68915c36ed2634e534947539995dd8e33cf5176b3ae3c65c43e786a/pictures/pages/pbi-pattern.png),
    linear-gradient(to top, rgb(255, 210, 13), rgb(242, 200, 17));
    background-size: cover;
    padding: 100px 0 0 0;
    position: relative;
    height: 780px;

    /*什么情况，不加这个只要有 div 就出现浮动*/
    overflow: hidden;
}
.row::before, .row::after {
    content: ' ';
}

.row{
    display: block;
    color: #000;
    text-align:center;
    font-size: 48px;
    line-height: 1.16;
}
.text_super{
    font-weight: bold;
}

.text_nomal{
    /*margin: 0 30% 0 30%;*/
    text-align:center;
    font-size: 22px;
    padding-top: 30px;
    font-weight: 400;
    line-height: 1.5;
}

.text_small{
    display: inline-block;
    font-size: 18px;
    font-weight: bold;
    margin-top: 30px;
    padding: 10px;
    border: 2px #000 solid;
}

.row_4{

    margin-left: 200px;
    bottom: -100%;
    position: absolute;
    transition: bottom .3s cubic-bezier(0,0,0,1);
}
.row_4 img{
    transition: bottom .25s cubic-bezier(0,0,0,1);
}
.text_small:hover{
    background-color:black;
    color: white;
}

/******************************************第一个章节结尾****************************************************************/



.section_2{
    background-color: #f5d341;
    margin-top: -25px;
    padding: 5%;
    height: 400px;
    text-align: center;
}

#power_des_1{
    display: block;
    font-size: 30px;
    text-align: center;
    font-weight: bold;
}

#power_des_2{
    display: block;
    font-size: 26px;
    text-align: center;
    padding: 0 10% 0 10%;
}
#power_des_3{
    display: inline-block;
    text-align: center;
    cursor: pointer;
    margin-top: 20px;
    font-size: 16px;
    font-weight: bold;
    color: #000;

}
#power_des_3 a{
    padding-left:10px;
    color: #000;
    text-decoration: none;
}

#power_des_3 a:hover{
    opacity: 0.4;
}

.mask {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.3;
    display: none;
}

#power_des_3_video_div{
    z-index: 999;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: none;
}


/******************************************第二个章节结尾****************************************************************/

.section_3{
    margin-top: -25px;
    background-color: #000;
    height: 500px;
    color: #fff;
}
#power_meaning_title{
    display: block;
    padding: 80px 0 20px 0;
    font-size: 30px;
    color: #fff;
    text-align: center;
}
.section_3_container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 350px;

}

/*
 神奇！如果对一个东西设置两次 border 是会叠加的。
如果想内容没变化那就得对外容器设置 border 利用颜色值隐藏起来,再对内容器设置 border， perfect
*/
.power_meaning_bor{
    margin: 0 20px 0 20px;
    background-color: #333333;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    border-left: 4px solid #333;
    cursor: pointer;
}
/*这下面就有瑕疵了，重构肯定要弄这里*/
.power_meaning{
    padding: 20px;
    height: 240px;
    position: relative;
    border-left: 4px solid #333;
}
.power_meaning img{
    padding-bottom: 10px;
}
.power_meaning_bor:hover{
    border-left: 4px solid #f5f72b  ;
}
.meaning_people{
    color: #ecc11a;
    font-size: 16px;
}
.meaning_des{
    font-size: 16px;
}
.meaning_action{
    font-size: 14px;
    display: block;
    position: absolute;
    bottom: 20px;

}
/* 箭头 */
.meaning_action span:before,
.meaning_action span:after {
    content: '';
    display: block;
    position: absolute;
    width: 3px;
    height: 12px;
    background: #fff;
    border-radius: .3em;
    right: -20%;
    top: 30%;
    transition: all .3s ease-in-out;
}
.meaning_action span:before{
    transform:translate(0%, -50%) rotate(-45deg)
}

.meaning_action span:after {
    transform:translate(0%, 0%) rotate(45deg);
}

.meaning_action:hover:before,
.meaning_action:hover:after {
    right: -30%;

}

/******************************************第三个章节结尾****************************************************************/


.section_4{
    background-color: #fff;
    margin-top: -25px;
    text-align: center;
    padding-bottom: 50px;
}

.section_4 h1{

    font-size: 30px;
    color: #000;
    padding-top: 30px;
}
.section_4 h5{
    font-size: 16px;

    margin: 15px 20% 0 20%;
}

.data_connections{
    margin: 30px 10% 30px 10%;
}
.data_connections_row{
    display: flex;
    margin: 20px 0 20px 0;
    align-content: center;
    justify-content: center;
}

.data_connections_item{
    display: inline-block;
    cursor: pointer;
    width: 180px;
    height: 120px;
    margin: 0 30px  0 30px;
    text-align: center;
    font-size: 16px;
}
.data_connections_item:hover .data_item_img{
    opacity: 0.6;
}
.data_item_img{
    display: inline-block;
    width: 90px;
    height: 90px;
}
.data_item_name{
    display: block;
}
.section_4 a{
    margin-top: 50px;
    display: block;
    font-size: 16px;
    color: #000;
    text-decoration: none;

}
.section_4 a:hover{
    text-decoration: underline;
}

#data_connections_operation_all{
    display: none;
}

#data_connections_operation{
    display: inline-block;
    margin-top: 20px;
    font-size: 18px;
    padding: 10px;
    font-weight: bold;
    border: 2px solid #000;
    transition: background-color .1s ease-in-out;
}

#data_connections_operation:hover{
    text-decoration: none;
    background-color: #000;
    color: #fff;
}

/******************************************第四个章节结尾****************************************************************/


.section_5{
    height: 780px;
    /*margin-top: -15px;*/
    background-color: #f2c811;
    padding-top: 40px;
}

.section_5 h1{
    font-size: 30px;
    color: #000;
    text-align: center;
}
.user{
    position: relative;

}
.uesr_img{
    background-image: url("https://powerbicdn.azureedge.net/cvt-3270d7c39dd75bde4c601fa2479ec40e5f55c8c09da7b3075fb2fa6c5c85421f/pictures/shared/fancy-tile/woman-surface-coffee.jpg");
    height: 400px;
    width: 470px;
    position: relative;
    background-size: cover;
}
.uesr_img h5{
    position: absolute;
    color: #f2c811;
    font-size: 16px;
    bottom: 25%;
    left: 5%;
    opacity: 1;
    transition: opacity .5s;
    display: inline;
}
.uesr_img h3{
    color: white;
    font-size: 24px;
    position: absolute;
    bottom: 8%;
    left: 5%;
    right: 10%;
    opacity: 1;
    transition: opacity .5s;
    display: inline;
}

.user_icon{
    height: 60px;
    width: 470px;
    background-color: white;
    position: relative;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,.2)
}

.user_icon img{
    height: 50%;
    position: absolute;
    top: 50%;
    left: 8%;
    transform: translateY(-50%);
}


@media (min-width: 768px) {
    .users_container{
        margin: 50px 10% 50px 10%;
    }

}

.user_cover{
    position: absolute;

    height: 400px;
    width: 470px;
    top: 0;
    left: 15px;

    background-color: #fff;
    transition: opacity .5s ;
    opacity: 0;
}

.user_cover h3{
    padding: 20% 10% 0 8%;

}

.user_cover h5{
    padding: 0px 0 20px 8%;
}

.user_cover .user_cover_vider_container{

    margin: 20px 0 20px 8%;
    cursor: pointer;
    width: 150px;
    height: auto;
    background-color: #f2c811;
    font-size: 16px;
    font-weight: bold;
    color: #000;
    text-align: center;
    padding: 10px;
}
.user_cover .user_cover_vider_container img {
    /*display: inline-block;*/
    /*padding: 5px 5px 0 10px;*/
}
.user_cover .user_cover_vider_container span {
    font-weight: bold;
    /*display: inline-block;*/
    /*margin: 10px 8px 0 10px;*/
}

.user:hover .user_cover{
    opacity: 0.8;
}
.user_cover:hover .uesr_img h5,.user_cover:hover .uesr_img h3{
    opacity: 0;
}

.user:hover .uesr_img h5,.user:hover .uesr_img h3{
    display: none;
}


.video_div{
    z-index: 999;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: none;
}


/******************************************第五个章节结尾****************************************************************/

.foot{
    background-color: #f2f2f2;
    height: 600px;
    padding-top: 60px;
    padding-left: 15%;


}

.foot ul{
    list-style: none;
    color: #000;

    padding-left: 17px;
    margin-bottom: 14px;
    margin-left: 0;
}
.foot ul li{
    cursor: pointer;
    margin-bottom: 10px;
    display: list-item;
}













